*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}



body#loginBody{
    background: url('../img/image-login.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: arial;
}

div.loginHeader{
    text-align: center;
}

div.loginHeader{
    margin-bottom: 30px;
}

div.loginHeader h1{
    font-size: 100px;
    color: #f685a2;
    padding: 0px;
    margin: 0px;
}

div.loginHeader p{
    color: #ffdae3;
    font-size: 50px;
    margin: 0px;
    display: inline-block;
}

div.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    margin: 0 auto;
}

div.topIcon{
    font-size: 50px;
    color: #f685a2;
    text-align: center;
}

div.topText{
    text-align: center;
    font-size: 15px;
}

div.loginBody form{
    margin: 0px auto;
    width: 450px;
    background: rgb(228, 227, 227);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.719);
}

div.loginInputsConteiner{
    margin-top: 20px;
}

div.loginInputsConteiner label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

div.loginInputsConteiner input{
    height: 40px;
    width: 100%;
    border: 2px solid #3a375f;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    font-style: italic;
}

div.loginButtonConteiner{
    margin-top: 40px;
    text-align: center;
}

div.loginButtonConteiner button{
    font-size: 20px;
    padding: 15px;
    width: 40%;
    color: white;
    background: #f685a2;
    border: 2px solid #3a375f;
    border-radius: 10px;
}

div.loginButtonConteiner button:hover{
    background: #f685a1c7;
    transition: 0.01s all;
    transform: scale(1.05);
}

div.loginButtonConteiner button:active{
    box-shadow: 0 2px #d96c85;
    transition: 0.01s all;
    transform: scale(0.95);
}

div.textIcons{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

div.textIcons div.line{
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.411);
    gap: 10px;
}

div.textIcons div.text{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.411);
}

div.iconsLogin{
    padding-top: 10px;
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

div.iconsLogin a{
    font-size:26px;
    color:#f685a2;
    transition:0.3s;
}

div.iconsLogin a:hover{
    transform:scale(1.2);
    color:#ff9fb6;
}

div.loginCadastrar{
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

div.loginCadastrar strong{
    color: #f685a2;
}

div.loginCadastrar a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

div.loginCadastrar a:hover{
    font-weight: bold;
    text-decoration: underline;
}

div#errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 5px;
}