*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}



body{
    font-family: arial;
}

div.header{
    width: 100%;
    height: 20px;
    background: #f685a1;
}

div.banner{
    background: url('../img_homepage/conteiners-homepage.jpg') no-repeat center center fixed ;
    background-size: cover;
    padding: 100px;
    padding-bottom: 100px;
}

div.homepageConteiner{
    width: 100%;
    max-width: 900px;
    /*height: 70vh;*/
    margin: 0 auto;
}

div.bannerHeader h1{
    font-size: 100px;
    color: #f685a1;
    line-height: 100%;
}

div.bannerHeader p{
    font-size: 40px;
    color: #f685a1;
    text-transform: uppercase;
    line-height: 100%;
}

p.bannerTagline{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

div.bannerIcons{
    margin-top: 150px;
}

div.bannerIcons a{
    font-size: 25px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgba(0, 0, 0, 0.459);
    border-radius: 100%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.534);
}

div.bannerIcons a:first-child{
    margin: 0px;
}

div.bannerIcons a:hover{
    color: white;
    font-size: 30px;
    background: #f685a1;
    transition: .3s all;
}

div.homepageFeatures{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

div.homepageFeature{
    padding: 10px 20px;
    text-align: center;
}

div.homepageFeature span.featureIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background: #f685a1;
    color: white;
    padding-top: 5px;
    border-radius: 100%;
    margin-bottom: 20px;
}

div.homepageFeature h3.featureTitle{
    margin-bottom: 20px;
}

div.homepageFeature p.featureDescription{
    color: #848484;
}

div.homepageNotiFile{
    background: #e3e3e3;
    padding: 50px 0px;
}

div.homepageNotiFileConteiner{
    display: flex;
    flex-direction: row;
}

div.homepageNotiFile h3{
    margin-bottom: 20px;
}

div.homepageNotiFile p{
    color: #848484;
    line-height: 150%;
    margin-bottom: 30px;
}

div.formConteiner{
    width: 80%;
    position: relative;
}

div.formConteiner input{
    width: 100%;
    padding: 10px;
    border: 8px;
    border-radius: 10px;
}

div.formConteiner button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #f685a1;
    color: white;
    border: 8px;
    border-radius: 0px 10px 10px 0px;
}